<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<!-- Simplified configuration - endpoints are configured in code -->
	<system.serviceModel>
		<bindings>
			<wsDualHttpBinding>
				<binding name="DuplexBinding"
						 closeTimeout="00:01:00"
						 openTimeout="00:01:00"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:01:00"
						 maxBufferPoolSize="2147483647"
						 maxReceivedMessageSize="2147483647">
					<security mode="None" />
					<readerQuotas maxArrayLength="2147483647"
								 maxStringContentLength="2147483647" />
				</binding>
			</wsDualHttpBinding>
		</bindings>

		<!-- Client configuration only -->
		<client>
			<endpoint name="FaultTolerantServiceEndpoint"
					  address="http://localhost:8080/FaultTolerantService"
					  binding="wsDualHttpBinding"
					  bindingConfiguration="DuplexBinding"
					  contract="FaultTolerantSystem.IFaultTolerantService" />
		</client>
	</system.serviceModel>

	<connectionStrings>
		<add name="FaultTolerantDB"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=FaultTolerantDB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>